<div class="blog-top-content-holder relative">
    <div class="center-relative center-text relative page-header-title">
        <h1 class="entry-title">Get domain IP</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <form id="getip">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select top level</label>
                            <select class="form-control" name="domainTopLevel" required>
                                <option value=".com" selected>.com</option>
                                <option value=".co.uk">.co.uk</option>
                                <option value=".bg">.bg</option>
                                <option value=".io">.io</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="domainName">Name</label>
                            <input type="text" minlength="5" class="form-control" name="domainName" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Get IP</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>

