<div class="blog-top-content-holder relative">
    <div class="center-relative center-text relative page-header-title">
        <h1 class="entry-title">Renew domain name</h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                        <form id="submitSolve">
                            <h1 class="text-center">Domain name: {{ domainName }}</h1>
                            <div class="form-group">
                                <label for="years">Years</label>
                                <input type="text" class="form-control" name="years">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Renew</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="clear"></div>
</div>
