<div class="blog-top-content-holder relative">

    <div class="blog-top-content content-1170 center-relative center-text relative">
        <h1 class="entry-title">Decentralized DNS</h1>

        <!--<table class="table table-sm">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<td>#</td>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody id="domains">-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
    <div class="clear"></div>
</div>